.logo{
    width: 200px;
    position:relative;
    left: 40%;
    top:50%;
}


.league-details{
    border: 2px solid whitesmoke;
    border-radius: 15px;
    background-color:lightsalmon;
   
}
.info{
    color: whitesmoke;
   
   
}
.info img{
    width: 20px;
}
.gender-photo{
width: 40%;
}
.gender-photo img{
    width:100%;
} 


.league-description p{
width:100%;
line-height:25px;
margin: 20p
}
.footer{
    display: flex;
    justify-content: center;
    margin:50px;
}
.footer img {
    width: 50px;
    
}
